<h1 class="center">Braintree Hosted Fields Playground</h1>

<div class="center">
  <p><%= link_to "Checkout page", new_checkout_path %></p>
  <p><%= link_to "Subscription Checkout page", new_subscription_path %></p>
  <p><%= link_to "Subscription Index", subscriptions_path %></p>
</div>
